{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>Stalking {{game.name}}</h1>

        <h2>Vue d'ensemble</h2>

        <div class="row">
            <div class="col-xs-4">
                <div class="list-group">
                    <div class="list-group-item">
                        Limite de points : {{game.scoreLimit}}
                    </div>
                    <div class="list-group-item">
                        Limite de joueurs : {{game.playerLimit}}
                    </div>
                    <div class="list-group-item">
                        Longueur des parties: {{game.roundTimeLimit}}
                    </div>
                </div>
            </div>

            <div class="col-xs-4">
                <div class="list-group">
                    <div class="list-group-item">
                        Mot de passe :
                        {{#if game.password}}
                            {{game.password}}
                        {{else}}
                            <small>Non défini</small>
                        {{/if}}
                    </div>
                    <div class="list-group-item">
                        Caché :
                        {{#if game.hidden}}
                            Oui
                        {{else}}
                            Non
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        <h2>Paquets</h2>
        <div class="row">
            <div class="col-xs-4">
                <h3>Paquets de base</h3>
                <ul>
                    {{#each game.sets}}
                        <li>
                            <a href="/info/cards?set={{id}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>

            <div class="col-xs-4">
                <h3>Expansions</h3>
                <ul>
                    {{#each game.expansions}}
                        <li>
                            <a href="/info/cards?expansion={{id}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <h2 id="players">Joueurs</h2>
        <ul>
            {{#each game.players}}
                <li>
                    <a href="/admin/user/{{user.id}}">
                        {{user.name}}
                    </a>
                    {{#ifCond game.state '==' GameState.PLAYING}}
                        - {{score}} points
                        {{#ifCond ../../game.czar '==' this}}
                            - Czar
                        {{/ifCond}}
                    {{/ifCond}}
                    {{#ifCond ../game.host '==' user}}
                        - Hôte
                    {{/ifCond}}
                </li>
            {{/each}}
        </ul>

        <h2 id="state">État (round {{game.round}})</h2>
        {{#ifCond game.state '==' GameState.LOBBY}}
            En attente
        {{/ifCond}}
        {{#ifCond game.state '==' GameState.ENDED}}
            Terminé
        {{/ifCond}}
        {{#ifCond game.state '==' GameState.PLAYING}}
            {{#if game.blackCard}}
                <div class="card black-card">
                    <span>{{{game.blackCard.text}}}</span>

                    {{>watermarkIcon}}
                    <div class="watermark">{{game.blackCard.watermark}}</div>
                </div>
            {{/if}}
        {{/ifCond}}

        <h2>hax</h2>
        <ul>
            <li>Changer la configuration</li>
            <li>Remettre à zéro</li>
            <li>Changer l'hôte</li>
        </ul>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $(function () {
            });
        </script>
    {{/append}}

    {{#replace 'globalChat'}}{{/replace}}
    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
