{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <noscript>
            <h2 class="has-error">
                JavaScript requis
            </h2>

            <p class="has-error">
                JavaScript doit être activé pour jouer à ce jeu.
            </p>
        </noscript>

        {{#if motd}}
            <div class="alert alert-info">
                {{{motd}}}
            </div>
        {{/if}}

        <div class="row">
            <div class="col-xs-6">
                <p>
                    Cartes Contre l'Humanité est un site web permettant de jouer en ligne au jeu Cards Against Humanity,
                    et ce, en langue française du Québec! Ce site contient plusieurs paquets de jeu dont des traductions
                    québécoises du jeu original ainsi que des paquets originaux thématiques comme celui de Québec Bronies.
                    On dit que le jeu est meilleur quand les cartes nous concernent, donc ce site est discutablement la
                    meilleure place pour jouer. Vous avez des idées de cartes? N'hésitez-pas à nous le suggérer!
                </p>

                {{#if user}}
                    <a href="/game/create">
                        <h2 class="button-play">
                            <span class="glyphicon glyphicon-plus"></span>&nbsp;Créer
                        </h2>
                    </a>
                {{/if}}

                <a href="/games">
                    <h2 class="button-play">
                        <span class="glyphicon glyphicon-ok"></span>&nbsp;Jouer !
                    </h2>
                </a>

                {{#unless user}}
                    <h2>Se connecter</h2>

                    <p>
                        Vous ne serez pas capable de jouer sans être enregistré.<br/>
                        S'enregistrer est gratuit et sans douleur - vous n'avez qu'à sélectionner un nom !
                    </p>

                    <form autocomplete="on" method="post" id="login" action="/user/login" class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="name">Nom :</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nom" autofocus>
                        </div>

                        <div class="form-group" {{#unless loginFailed}}style="display: none;"{{/unless}}>
                            <label class="sr-only" for="password">Mot de passe :</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Mot de passe">
                        </div>

                        <input type="hidden" id="redirect" name="redirect" value="{{{loginRedirect}}}">

                        <input type="submit" value="Log in">
                    </form>
                {{/unless}}

                <h2>Changes</h2>
                {{#each changes}}
                    <h3>{{{date}}}</h3>
                    <ul>
                        {{#each this.changes}}
                            <li>{{{this}}}</li>
                        {{/each}}
                    </ul>
                {{/each}}

                <a href="/info/changes">Changelog complet</a>

            </div>

            <div class="col-xs-6">

                {{#each valentine.cards}}
                    <div class="valentine-card">
                        {{{this}}}

                        {{> watermarkIcon}}

                        <div class="watermark">
                            <a href="/info/cards?set={{../valentine.deckId}}">QCBN</a>
                        </div>
                    </div>
                {{/each}}
                <div class="clearfix"></div>

            </div>
        </div>

        <h2>About / Licenses</h2>

        <p>
            Cards Against Québec Bronies et Cards Against Equestria sont un clone de
            <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a>.<br/>
            Cards Against Humanity est une marque de commerce de Cards Against Humanity LLC.
            Ce clone n'est pas approuvé ou commandité par Cards Against Humanity LLC.
        </p>
        <p>
            <a href="http://cardsagainsthumanity.com/">Cards Against Humanity</a> est disponible sous une licence
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0</a>.
        </p>

        <p>
            Cards Against Equestria est disponible sous une 
            <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">license Creative Commons BY-NC-SA 2.0</a>,
            est écrit par <a href="/info/about">Rylius</a> et traduit par <a href="/info/about">juju2143</a>.
            Le code source est disponible sur <a href="https://github.com/juju2143/CardsAgainstEquestria">GitHub</a>.
        </p>
    {{/replace}}

    {{#append 'defer'}}
        <script>
            $.ajaxSetup({cache: false});

                {{#if user}}
                $(window).bind('beforeunload', function () {
                    interruptChatListen();
                });

                var $globalChat = $('#chat-global');
                var chat = initChat({
                    id: {{user.id}},
                    name: '{{user.name}}'
                }, $globalChat.find('> .history'), $globalChat.find('input[type="text"]'));
                ko.applyBindings(chat);
                {{/if}}

            var $name = $('#name');
            $name.val($.cookie('name'));
            $('#login').on('submit', function () {
                saveName($name.val());
            });
        </script>
    {{/append}}

    {{#replace 'initGlobalChat'}}{{/replace}}

{{/extend}}
