{{#extend 'layouts/default'}}

    {{#replace 'content'}}
        <h1>Suggérer des cartes et paquets</h1>
        <p>
            Vous pouvez suggérer jusqu'à 5 cartes noires et 20 cartes blanches à n'importe quel moment donné.<br/>
            Les suggestions peuvent être annulés ou édités.
        </p>
        <p>
            Vous pouvez suggérer un nouveau paquet.
        </p>

        <p>
            Après que vos suggestions ont été acceptées ou rejetées, vous pourrez en ajouter plus.<br/>
            <strong>Bientôt:</strong> Vous allez être notifié par courriel quand ça va arriver, si vos paramètres le permet.
        </p>

        <div class="alert alert-warning">
            Ne pas supplier, spammer ou énerver les éditeurs et administrateurs à propos de vos suggestions. On va y arriver éventuellement.
        </div>

        <div class="alert alert-info">
            Commencez par sélectionner un paquet dans la liste ci-dessous, ensuite vous pourrez y ajouter des cartes.
        </div>

        <h2>
            Paquets actifs
        </h2>
        <div class="row">
            <div class="col-xs-6">
                <h3>Paquets</h3>
                {{#each decks.sets}}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="/deck/suggest?deck={{id}}&amp;expansion=0&amp;active=1">
                                <strong>{{name}}</strong>
                            </a>
                            -
                            {{{description}}}
                        </div>
                    </div>
                {{/each}}
            </div>

            <div class="col-xs-6">
                <h3>Expansions</h3>
                {{#each decks.expansions}}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="/deck/suggest?deck={{id}}&amp;expansion=1&amp;active=1">
                                <strong>{{name}}</strong>
                            </a>
                            -
                            {{{description}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

        <h2>
            Paquets suggérés
        </h2>
        <div class="row">
            <div class="col-xs-6">
                <h3>Paquets</h3>
                {{#each suggestedDecks.sets}}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="/deck/suggest?deck={{id}}&amp;active=0">
                                <strong>{{name}}</strong>
                            </a>
                            -
                            {{description}}
                        </div>
                    </div>
                {{/each}}
                <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <button>
                            Ajouter le vôtre
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <h3>Expansions</h3>
                {{#each suggestedDecks.expansions}}
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="/deck/suggest?deck={{id}}&amp;active=0">
                                <strong>{{name}}</strong>
                            </a>
                            -
                            {{description}} par {{author.name}}
                        </div>
                    </div>
                {{/each}}
                <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <button>
                            Ajouter le vôtre
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <h2>
            Vos cartes suggérées
        </h2>
        <span class="help-block">
            Cliquez sur une carte pour l'éditer
        </span>
        <div class="row">
            <div class="col-xs-12">
                cartes noires vont ici
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                cartes blanches vont ici
            </div>
        </div>
    {{/replace}}

{{/extend}}
